{% extends 'layout.html' %} {% block body %}
<div class="jumbotron">
  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Modal title</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          class="modal-body"
          id="modal-body"
          style="overflow: auto; max-height: 70vh"
        >
          ...
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <h1 class="display-4">Query Execution Plan Visualization</h1>
  <p class="lead">Instructions:</p>

  <ol>
    <li>Type in your SQL Query in the textbox</li>
    <li>Generate the QEP Graph on the right hand side</li>
    <li>Click in on each node to find out more information about each node</li>
  </ol>

  <hr class="my-4" />

  <!-- for debugging -->
  <!-- <div class="mb-2">
    <b>Query Output:</b>
    <div id="queryOutput"></div>
  </div> -->

  <div class="container-fluid">
    <div class="row border" style="min-height: 500px">
      <div class="col-3">
        <div class="row d-flex flex-column">
          <div class="col-md-4 border w-100" style="height: 50%">
            <form id="sqlForm">
              <div class="form-group my-4">
                <h3>SQL Input</h3>
                <hr />
                <textarea
                  class="form-control"
                  name="sql_query"
                  id="sql_query"
                  rows="3"
                  required
                >
  SELECT
      l_orderkey, 
      sum(l_extendedprice * (1 - l_discount)) as revenue, 
      o_orderdate, 
      o_shippriority 
  FROM
      customer,
      orders,
      lineitem
  WHERE
      c_mktsegment = 'BUILDING'
      and c_custkey = o_custkey
      and l_orderkey = o_orderkey
      and o_totalprice > 10
      and l_extendedprice > 10
  GROUP BY
      l_orderkey,
      o_orderdate,
      o_shippriority
  ORDER BY
      revenue desc,
      o_orderdate;</textarea
                >
              </div>
              <div class="form-group">
                <label for="sample_queries">Select Sample Query:</label>
                <select
                  class="form-select"
                  id="sample_queries"
                  onchange="changeQuery(this)"
                ></select>
              </div>
              <div class="d-flex m-3 flex-row-reverse">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-md-4 border w-100 py-2">
            <h3 class="mt-2">Node Info Content</h3>
            <hr />
            <div id="nodeInfo_placeholder">
              Please click on a node from the Query Execution Plan on the right
              to view its node content!
            </div>
            <!-- CADY to take note, if no node clicked so far, show appropriate placeholder content -->
            <div id="nodeInfo" style="display: none">
              <div style="display: flex; align-items: center; gap: 2px">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="1em"
                  viewBox="0 0 512 512"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Name of the plan node"
                >
                  <path
                    d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"
                  />
                </svg>
                <b> Title:</b>
                <span id="nodeTitle">Sort</span>
              </div>
              <div>
                <div style="display: flex; align-items: center; gap: 2px">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Additional information such as table name or filter conditions that is applied on the node"
                  >
                    <path
                      d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"
                    />
                  </svg>
                  <b>More Info: </b>
                </div>

                <span id="secondaryContent">
                  (sum((lineitem.l_extendedprice * ('1' -
                  lineitem.l_discount)))) DESC, orders.o_orderdate
                </span>
              </div>
              <div>
                <div style="display: flex; align-items: center; gap: 2px">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Estimated average width of rows output by the plan node (in bytes)"
                  >
                    <path
                      d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"
                    />
                  </svg>
                  <b>Width:</b>
                  <span id="widthInfo">44</span>
                </div>
              </div>
              <div>
                <div style="display: flex; align-items: center; gap: 2px">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="(estimated start-up cost, estimated total cost)"
                  >
                    <path
                      d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"
                    />
                  </svg>
                  <b>Cost:</b>
                </div>
                <span id="costInfo">(617704.6, 620739.96)</span>
              </div>
              <div>
                <div style="display: flex; align-items: center; gap: 2px">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Depth of the node in the tree from the top"
                  >
                    <path
                      d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"
                    />
                  </svg>
                  <b>Depth:</b>
                  <span id="depthInfo">0</span>
                </div>
              </div>
              <div>
                <div style="display: flex; align-items: center; gap: 2px">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Estimated number of rows output by the plan node"
                  >
                    <path
                      d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"
                    />
                  </svg>
                  <b>Rows:</b>
                  <span id="rowInfo">1214145</span>
                </div>
              </div>
              <div id="blocksAccessedNodeInfo">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 512 512"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Shows the number of blocks accessed by the plan node and the full tuple accessed if info is available"
                  >
                    <path
                      d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"
                    />
                  </svg>
                  <b>Blocks and Tuples Accessed:</b>
                  <div id="blocksAccessedInfo">N.A.</div></span
                >
                <button
                  type="button"
                  id="blocksAccessedButton"
                  class="btn btn-outline-primary btn-sm"
                  style="display: none"
                >
                  View Blocks and Tuples Accessed
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-md-4 border w-100 py-2"
            id="blocksAccessedDiv"
            style="display: none"
          >
            <h4 class="mt-2">Blocks and Tuples Accessed By the Query</h4>
            <hr />
            <div
              id="blocksAccessed-content"
              class="overflow-auto flex"
              style="max-height: 250px"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-9 border position-relative">
        <div
          class="mt-3"
          style="
            font-weight: bold;
            font-size: 18px;
            position: absolute;
            display: inline-block;
            z-index: 10;
            background-color: white;
            border: 1px solid grey;
            padding: 5px 10px;
          "
        >
          Query Execution Plan Visualiser
        </div>
        <!-- <canvas id="canvas" ></canvas> -->
        <div id="canvas-div"></div>
        <div
          class="col-md-3 border"
          style="
            position: absolute;
            right: 0;
            background-color: white;
            z-index: 2;
          "
        >
          <div class="mt-3 mx-3">
            <h3>Overview</h3>
            <hr />
            <div id="overview_content" style="font-size: small">
              Planning Time: 0.152 ms <br />
              Execution Time: 2473.077 ms
            </div>
          </div>
          <div class="mt-3 mx-3">
            <h3>Summary</h3>
            <hr />
            <pre
              id="summary-content"
              class="pb-3"
              style="
                font-size: 10px;
                margin-bottom: 0px !important;
                margin-top: 0px !important;
              "
            >
#1  ∟ Sort
#2   ∟ Finalize GroupAggregate
#3    ∟ Gather Merge
#4     ∟ Partial GroupAggregate
#5      ∟ Sort
#6       ∟ Nested Loop
#7        ∟ Parallel Hash Join
#8         ∟ Parallel Seq Scan
#9         ∟ Parallel Hash
#10          ∟ Parallel Seq Scan
#11        ∟ Index Scan using lineitem_pkey</pre
            >
          </div>
          <div class="mt-3 zoom-container">
            <button id="zoom_in">+</button>
            <button id="zoom_out">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const queries = [
    "SELECT l_orderkey, sum(l_extendedprice * (1 - l_discount)) as revenue, o_orderdate, o_shippriority FROM customer, orders, lineitem WHERE c_mktsegment = 'BUILDING' and c_custkey = o_custkey and l_orderkey = o_orderkey and o_totalprice > 10 and l_extendedprice > 10 GROUP BY l_orderkey, o_orderdate, o_shippriority ORDER BY revenue desc, o_orderdate;",
    "SELECT l_returnflag, l_linestatus, sum(l_quantity) as sum_qty, sum(l_extendedprice) as sum_base_price, sum(l_extendedprice * (1 - l_discount)) as sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge, avg(l_quantity) as avg_qty, avg(l_extendedprice) as avg_price, avg(l_discount) as avg_disc, count(*) as count_order FROM lineitem WHERE l_shipdate <= date '1998-12-01' - interval '90' day GROUP BY l_returnflag, l_linestatus ORDER BY l_returnflag, l_linestatus;",
    "SELECT l_orderkey, sum(l_extendedprice * (1 - l_discount)) as revenue, o_orderdate, o_shippriority FROM customer, orders, lineitem WHERE c_mktsegment = 'BUILDING' AND c_custkey = o_custkey AND l_orderkey = o_orderkey AND o_orderdate < date '1995-03-15' AND l_shipdate > date '1995-03-15' GROUP BY l_orderkey, o_orderdate, o_shippriority ORDER BY revenue desc, o_orderdate LIMIT 20;",
    "SELECT n_name, sum(l_extendedprice * (1 - l_discount)) as revenue FROM customer, orders, lineitem, supplier, nation, region WHERE c_custkey = o_custkey AND l_orderkey = o_orderkey AND l_suppkey = s_suppkey AND c_nationkey = s_nationkey AND s_nationkey = n_nationkey AND n_regionkey = r_regionkey AND r_name = 'ASIA' AND o_orderdate >= date '1994-01-01' AND o_orderdate < date '1994-01-01' + interval '1' year GROUP BY n_name ORDER BY revenue desc;",
    "SELECT sum(l_extendedprice * l_discount) as revenue FROM lineitem WHERE l_shipdate >= date '1994-01-01' AND l_shipdate < date '1994-01-01' + interval '1' year AND l_discount between 0.06 - 0.01 AND 0.06 + 0.01 AND l_quantity < 24;",
    "SELECT c_custkey, c_name, sum(l_extendedprice * (1 - l_discount)) as revenue, c_acctbal, n_name, c_address, c_phone, c_comment FROM customer, orders, lineitem, nation WHERE c_custkey = o_custkey AND l_orderkey = o_orderkey AND o_orderdate >= date '1993-10-01' AND o_orderdate < date '1993-10-01' + interval '3' month AND l_returnflag = 'R' AND c_nationkey = n_nationkey GROUP BY c_custkey, c_name, c_acctbal, c_phone, n_name, c_address, c_comment ORDER BY revenue desc LIMIT 20;",
    "SELECT l_shipmode, sum(case when o_orderpriority = '1-URGENT' OR o_orderpriority = '2-HIGH' then 1 else 0 end) as high_line_count, sum(case when o_orderpriority <> '1-URGENT' AND o_orderpriority <> '2-HIGH' then 1 else 0 end) AS low_line_count FROM orders, lineitem WHERE o_orderkey = l_orderkey AND l_shipmode in ('MAIL', 'SHIP') AND l_commitdate < l_receiptdate AND l_shipdate < l_commitdate AND l_receiptdate >= date '1994-01-01' AND l_receiptdate < date '1994-01-01' + interval '1' year GROUP BY l_shipmode ORDER BY l_shipmode;",
    "SELECT 100.00 * sum(case when p_type like 'PROMO%' then l_extendedprice * (1 - l_discount) else 0 end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue FROM lineitem, part WHERE l_partkey = p_partkey AND l_shipdate >= date '1995-09-01' AND l_shipdate < date '1995-09-01' + interval '1' month;",
    "SELECT sum(l_extendedprice* (1 - l_discount)) as revenue FROM lineitem, part WHERE ( p_partkey = l_partkey AND p_brand = 'Brand#12' AND p_container in ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG') AND l_quantity >= 1 AND l_quantity <= 1 + 10 AND p_size between 1 AND 5 AND l_shipmode in ('AIR', 'AIR REG') AND l_shipinstruct = 'DELIVER IN PERSON' ) OR ( p_partkey = l_partkey AND p_brand = 'Brand#23' AND p_container in ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK') AND l_quantity >= 10 AND l_quantity <= 10 + 10 AND p_size between 1 AND 10 AND l_shipmode in ('AIR', 'AIR REG') AND l_shipinstruct = 'DELIVER IN PERSON' ) OR ( p_partkey = l_partkey AND p_brand = 'Brand#34' AND p_container in ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG') AND l_quantity >= 20 AND l_quantity <= 20 + 10 AND p_size between 1 AND 15 AND l_shipmode in ('AIR', 'AIR REG') AND l_shipinstruct = 'DELIVER IN PERSON' );",
  ];
  // const queries = ["SELECT * FROM NATION;","select l_returnflag, l_linestatus, sum(l_quantity) as sum_qty, sum(l_extendedprice) as sum_base_price, sum(l_extendedprice * (1 - l_discount)) as sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge, avg(l_quantity) as avg_qty, avg(l_extendedprice) as avg_price, avg(l_discount) as avg_disc, count(*) as count_order from lineitem where l_extendedprice > 100 group by l_returnflag, l_linestatus order by l_returnflag, l_linestatus;", "select l_orderkey, sum(l_extendedprice * (1 - l_discount)) as revenue, o_orderdate, o_shippriority from customer, orders, lineitem where c_mktsegment = 'BUILDING' and c_custkey = o_custkey and l_orderkey = o_orderkey and o_totalprice > 10 and l_extendedprice > 10 group by l_orderkey, o_orderdate, o_shippriority order by revenue desc, o_orderdate;"]
  const sample_queries = document.getElementById("sample_queries");
  queries.forEach((query, index) => {
    const option = document.createElement("option");
    option.textContent = `Sample Query ${index + 1}`;
    option.value = query;
    sample_queries.appendChild(option);
  });
  sample_queries.addEventListener("change", function () {
    const selectedIndex = this.selectedIndex;
    document.getElementById("sql_query").value = queries[selectedIndex];
  });

  function changeQuery(selectElement) {
    document.getElementById("sql_query").value = selectElement.value;
  }
</script>
{% endblock %}
