{% extends 'layout.html' %} {% block body %}
<div class="jumbotron">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <h1 class="display-4">Query Execution Plan Visualization</h1>
  <p class="lead">
    Instructions:
    <ol>
      <li>Type in your SQL Query in the textbox</li>
      <li>Generate the QEP Graph on the right hand side</li>
      <li>Click in on each node to find out more information about each node</li>
    </ol>
  </p>
  <hr class="my-4" />
  
  <!-- for debugging -->
  <!-- <div class="mb-2">
    <b>Query Output:</b>
    <div id="queryOutput"></div>
  </div> -->
  
  <div class="container-fluid">
    <div class="row border" style="min-height: 500px">
        <div class="col-3">
            <div class="row d-flex flex-column">
                <div class="col-md-6 border w-100" style="height:50%">
                  <form id="sqlForm">
                    <div class="form-group my-4">
                      <label for="sql_query" style="font-weight:bold" class="mb-2">SQL Input</label>
                      <textarea class="form-control" name="sql_query" id="sql_query" rows="3" placeholder="SELECT * FROM NATION;" required></textarea>
                    </div>
                    <div>
                      
                      <div>Sample Queries</div>
                      <ul id="sample_queries">
                        <li>Sample Query 1</li>
                        <li>Sample Query 2</li>
                        <li>Sample Query 3</li>
                      </ul>
                    </div>
                    <div class="d-flex mb-3 flex-row-reverse">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-6 border w-100" style="height: 50%">
                  Explore node content goes here
                </div>
            </div>
        </div>
        <div class="col-9 border position-relative">
            <div class="mt-3" style="font-weight: bold;font-size:18px;    position: absolute;
            display: inline-block;
            z-index: 10;
            background-color: white;
            border: 1px solid grey;
            padding: 5px 10px;">Query Execution Plan Visualiser</div>
            <!-- <canvas id="canvas" ></canvas> -->
            <div id="canvas-div"></div>
        </div>
    </div>
  </div>
</div>
<script>
  const queries = ["SELECT * FROM NATION;","select l_returnflag, l_linestatus, sum(l_quantity) as sum_qty, sum(l_extendedprice) as sum_base_price, sum(l_extendedprice * (1 - l_discount)) as sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge, avg(l_quantity) as avg_qty, avg(l_extendedprice) as avg_price, avg(l_discount) as avg_disc, count(*) as count_order from lineitem where l_extendedprice > 100 group by l_returnflag, l_linestatus order by l_returnflag, l_linestatus;", "select l_orderkey, sum(l_extendedprice * (1 - l_discount)) as revenue, o_orderdate, o_shippriority from customer, orders, lineitem where c_mktsegment = 'BUILDING' and c_custkey = o_custkey and l_orderkey = o_orderkey and o_totalprice > 10 and l_extendedprice > 10 group by l_orderkey, o_orderdate, o_shippriority order by revenue desc, o_orderdate;"]
  const sample_queries = document.getElementById("sample_queries");
  for(let i = 0;i<sample_queries.children.length;i++){
    sample_queries.children[i].addEventListener('click', () => {
      document.getElementById('sql_query').textContent = queries[i];
    })
  }


</script>
{% endblock %}
