{% extends 'layout.html' %} {% block body %}
<div class="jumbotron">
  <h1 class="display-4">Query Execution Plan Visualization</h1>
  <p class="lead">
    Instructions:
    <ol>
      <li>Type in your SQL Query in the textbox</li>
      <li>Generate the QEP Graph on the right hand side</li>
      <li>Click in on each node to find out more information about each node</li>
    </ol>
  </p>
  <hr class="my-4" />
  <div class="container-fluid">
    <div class="row border">
        <div class="col-md-6">
            <!-- Left Section - Split into 2 Equal Width Sections -->
            <div class="row d-flex flex-column">
                <div class="col-md-6 border w-100">
                  SQL Textbox go here
                    <!-- Left Subsection 1 Content -->
                </div>
                <div class="col-md-6 border w-100">
                  Explore node content goes here
                    <!-- Left Subsection 2 Content -->
                </div>
            </div>
        </div>
        <div class="col-md-6 border">
            <!-- Right Section Content - Spans the Whole Width of Left Section -->
            Right section for graph visualizer
        </div>
    </div>
  </div>
</div>
{% endblock %}
